
footer {
    background: #222;
    color: #aaa;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
    font-size: 0.9rem;
}