/* forms.css */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 0.5rem;
    text-align: left;
}

input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    background: #222;
    color: #fff;
}

button {
    background: #1e90ff;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #63a4ff;
}
