/* forms.css */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 0.1em;
    color: #f8f2dc; /* Ensure label text is visible */
}

input, textarea {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #555;
    background: none;
    color: #fff;
    outline: none; /* Remove default outline */
    transition: border-color 0.3s;
}

input::placeholder, textarea::placeholder {
    color: #888; /* Placeholder color */
}

input:focus, textarea:focus {
    border-bottom: 1px solid #1e90ff; /* Change border color on focus */
}

button {
    background: #1e90ff;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #63a4ff;
}
