/* header.css */

/* Header and navigation styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: linear-gradient(90deg, #141e30 0%, #243b55 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 100;
    letter-spacing: 0.2em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 20vh; /* Increased height */
    transition: transform 0.3s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000096;
}

/* header.css */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 20vh; /* Increased height */
    transition: transform 0.3s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
    to bottom,
    rgba(18, 21, 25, 1) 0%,
    rgba(18, 21, 25, 0.8) 50%,
    rgba(18, 21, 25, 0.5) 75%,
    rgba(18, 21, 25, 0.2) 90%,
    rgba(18, 21, 25, 0) 100%
);
    font-weight: 100;
    letter-spacing: 0.2em;
}


#navbar {
    font-size: 5px;
}

nav ul {
    display: flex;
    gap: 30px; /* Increased spacing between items */
    padding: 0;
}

nav ul li {
    list-style: none; /* Remove dots */
}

nav ul li a {
    color: #f8f2dc;
    padding: 10px 15px;
    font-size: 0.9rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: #8993f7;
}



.menu-icon {
    position: fixed;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon svg {
    width: 24px;
    height: 24px;
    color: #f8f2dc;
    fill: none;
    stroke: #f8f2dc;
    stroke-width: 2; /* Control thickness */
    stroke-linecap: round;
}

/* Default state: Show menu-bars, hide menu-close */
.menu-icon svg#menu-bars {
    display: block;
}

.menu-icon svg#menu-close {
    display: none;
}

/* When open: Hide menu-bars, show menu-close */
.menu-icon.open svg#menu-bars {
    display: none;
}

.menu-icon.open svg#menu-close {
    display: block;
}






/* Add smooth transitions */
nav ul li a {
    transition: all 0.3s ease;
}


nav.hidden {
    transform: translateY(-100%);
}

nav:not(.hidden) {
    transform: translateY(0);
}

/* Responsive design for mobile view */
@media (max-width: 768px) {
    nav {
        height: 100vh; /* Fullscreen height */
        justify-content: flex-start;
        padding-top: 60px; /* Space for menu icon */
        align-items: flex-start;
        flex-direction: column; /* Stack items vertically */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Spacing between items */
        width: 100%;
    }

    nav ul li a {
        font-size: 1.5rem; /* Larger font for better touch */
        padding: 1rem;
    }
}
